<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Moderno</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <h1>Caio Ramos</h1>
    </header>

    <section class="about-me">
        <h2 align=center>Sobre Mim</h2>
        <p align="justify">
            Sou Caio Ramos, hoje sou Líder Técnico na Smart Fit. Tenho mais mais de 17 anos de experiência em tecnologia, sendo 7 em desenvolvimento de software. Meu objetivo é criar soluções web escaláveis e inovadoras que melhorem significativamente os processos e a experiência do usuário, utilizando o poderoso framework Ruby on Rails. Como especialista em Ruby e Ruby on Rails, tanto em micro serviços como monolíticos, e em novas versões ou sistemas legados, crio e implemento códigos de alta qualidade, performance e segurança, seguindo as melhores práticas e padrões da indústria.
        </p>
    </section>

    <section class="my-work">
        <h2>Experiência:</h2>
        <div class="projects-container">
            <!-- Exemplo de item do projeto -->
            <div class="project">
                <img src="https://smart-site-assets-production.s3.amazonaws.com/assets/new-home-v4-assets/logo-dark.svg" alt="Descrição do Projeto">
                <div class="project-info">
                    <h3 align=center>Smart Fit</h3>
                    <p>Tech Lead do Smart Site e Time de Promoções!</p>
                </div>
            </div>
            <!-- Adicione mais projetos conforme necessário -->
        </div>
    </section>

    <footer class="footer">
        <p>© 2024 kaineo Dev. Todos os direitos reservados.</p>
    </footer>

    <script src="welcome_index.js"></script>
</body>
</html>
